.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 20px;
}

.list-header ul {
  display: flex;
}

.list-header li {
  list-style-type: none;
  margin: 0 15px;
}

.list-header a {
  text-decoration: none;
  color: black;
}

.list-header a:hover {
  color: royalblue;
  border-bottom: 5px solid royalblue;
}

footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
}

footer .footer-container {
  height: 450px;
  width: 90%;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-repeat: no-repeat;
  background-position: right center;
}

footer .footer-container .footer-nav {
  display: flex;
}

footer .footer-container .footer-nav h2 {
  color: white;
  font-size: 20px;
}

footer .footer-container .footer-nav ul {
  list-style-type: none;
}

footer .footer-container .footer-nav ul li {
  padding: 5px 0;
}

footer .footer-container .footer-nav ul li a {
  text-decoration: none;
  color: rgb(155, 152, 152);
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

