.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 20px;
}

.list-header ul {
  display: flex;
}

.list-header li {
  list-style-type: none;
  margin: 0 15px;
}

.list-header a {
  text-decoration: none;
  color: black;
}

.list-header a:hover {
  color: royalblue;
  border-bottom: 5px solid royalblue;
}

.container-jumbo {
  background-image: url(/images/jumbotron.jpg);
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.list-comics {
  background-color: rgb(33, 31, 31);
}

.list-comics .container-comics {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.list-comics .container-comics h5 {
  color: white;
  padding: 0.1em;
  width: 80%;
}

.list-comics .container-comics .comic {
  width: 16.6666666667%;
  padding: 2rem 0.5rem;
  cursor: pointer;
}

.container-shop {
  background-color: rgb(25, 109, 236);
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-shop ul {
  display: flex;
}

.container-shop li {
  list-style-type: none;
  margin: 0 15px;
}

.container-shop img {
  width: 60px;
  height: 60px;
}

.container-shop .cont {
  display: flex;
  align-items: center;
}

.container-shop .cont p {
  font-size: 20px;
  margin: 0 10px;
}

.container-comic {
  min-height: 70vh;
  position: relative;
}

.container-comic .comic-id {
  background-color: rgb(33, 53, 233);
  height: 10vh;
}

.container-comic .comic-id .comic-id-img {
  height: 350px;
  width: 240px;
  position: absolute;
  top: -280px;
  left: 18%;
}

.container-comic .comic-id .comic-id-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-comic .comic-information {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 45vh;
  z-index: 1;
  padding: 25px;
}

.container-comic .comic-information h1 {
  font-size: 60px;
}

.container-comic .comic-information .comic-information-sx {
  padding-right: 1.3rem;
}

.container-comic .comic-information .comic-information-sx p {
  font-size: 20px;
}

.container-comic .comic-information .comic-information-sx .barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: #55ba59;
}

.container-comic .comic-information .comic-information-sx .barra .barra-sx {
  padding: 10px;
  color: #b6fa96;
}

.container-comic .comic-information .comic-information-sx .barra .barra-sx span {
  color: white;
}

.container-comic .comic-information .comic-information-dx h4 {
  margin-left: 158px;
  padding-bottom: 0.2rem;
  color: gray;
}

.container-comic .comic-description-bg {
  background-color: rgb(164, 150, 150);
}

.container-comic .comic-description-bg .comic-description {
  display: flex;
  height: 30vh;
  width: 70%;
  padding: 30px;
  margin: auto;
}

.container-comic .comic-description-bg .comic-description h3 {
  font-size: 33px;
  padding-bottom: 20px;
  border-bottom: 2px solid gainsboro;
}

.container-comic .comic-description-bg .comic-description .comic-description-sx {
  width: 50%;
}

.container-comic .comic-description-bg .comic-description .comic-description-sx .prova {
  display: flex;
  border-bottom: 2px solid gainsboro;
  padding: 10px 0;
}

.container-comic .comic-description-bg .comic-description .comic-description-sx .prova p {
  margin: 0 30px;
}

.container-comic .comic-description-bg .comic-description .comic-description-dx {
  width: 50%;
  margin-left: 30px;
}

.container-comic .comic-description-bg .comic-description .comic-description-dx .prova {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 2px solid gainsboro;
}

footer {
  background-image: url(/images/footer-bg.jpg);
  background-size: cover;
}

footer .footer-container {
  margin-left: 60px;
  height: 445px;
  width: 90%;
  background-image: url(/images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

footer .footer-container .footer-nav {
  display: flex;
}

footer .footer-container .footer-nav h2 {
  color: white;
  font-size: 20px;
}

footer .footer-container .footer-nav ul {
  list-style-type: none;
  padding: 23px;
}

footer .footer-container .footer-nav ul li {
  padding: 3px 0;
}

footer .footer-container .footer-nav ul li a {
  text-decoration: none;
  color: rgb(155, 152, 152);
  font-size: 14px;
}

footer .footer-container .footer-nav ul li h2 {
  margin: 15px 0;
}

footer .footer-container .footer-text {
  padding: 10px 20px 10px;
  color: rgb(155, 152, 152);
}

footer .footer-container .footer-text a {
  text-decoration: none;
  color: rgb(62, 62, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

