.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 20px;
}

.list-header ul {
  display: flex;
}

.list-header li {
  list-style-type: none;
  margin: 0 15px;
}

.list-header a {
  text-decoration: none;
  color: black;
}

.list-header a:hover {
  color: royalblue;
  border-bottom: 5px solid royalblue;
}

.container-jumbo {
  background-image: url(/images/jumbotron.jpg);
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.container-shop {
  background-color: rgb(25, 109, 236);
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-shop ul {
  display: flex;
}

.container-shop li {
  list-style-type: none;
  margin: 0 15px;
}

.container-shop img {
  width: 60px;
  height: 60px;
}

.container-shop .cont {
  display: flex;
  align-items: center;
}

.container-shop .cont p {
  font-size: 20px;
  margin: 0 10px;
}

footer {
  background-image: url(/images/footer-bg.jpg);
  background-size: cover;
}

footer .footer-container {
  margin-left: 60px;
  height: 445px;
  width: 90%;
  background-image: url(/images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

footer .footer-container .footer-nav {
  display: flex;
}

footer .footer-container .footer-nav h2 {
  color: white;
  font-size: 20px;
}

footer .footer-container .footer-nav ul {
  list-style-type: none;
  padding: 23px;
}

footer .footer-container .footer-nav ul li {
  padding: 3px 0;
}

footer .footer-container .footer-nav ul li a {
  text-decoration: none;
  color: rgb(155, 152, 152);
  font-size: 14px;
}

footer .footer-container .footer-nav ul li h2 {
  margin: 15px 0;
}

footer .footer-container .footer-text {
  padding: 10px 20px 10px;
  color: rgb(155, 152, 152);
}

footer .footer-container .footer-text a {
  text-decoration: none;
  color: rgb(62, 62, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

