.container-comic {
    height: 80vh;
    position: relative;
    .comic-id {
        background-color: rgb(33, 53, 233);
        height: 70vh - 60vh;
        .comic-id-img {
            height: 350px;
            width: 340px;
            position: absolute;
            top: -280px;
            left: 20%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .comic-information{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 70vh - 25vh;
        z-index: 1;
        padding: 25px;
        h1 {
            font-size: 60px;
        }
        .comic-information-sx {
            padding-right: 1.3rem;
            p {
                font-size: 20px;
            }
            .barra {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                background-color: #55ba59;
                .barra-sx {
                    padding: 10px;
                    color: #b6fa96;
                    span {
                        color: white;
                    }
                }
            }
        }
        .comic-information-dx {
            h4{
                margin-left: 158px;
                padding-bottom: 0.2rem;
                color: gray;
            }
        }
    }
}