.container-comic {
    min-height: 70vh;
    position: relative;
    .comic-id {
        background-color: rgb(33, 53, 233);
        height: 10vh;
        .comic-id-img {
            height: 350px;
            width: 240px;
            position: absolute;
            top: -280px;
            left: 18%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .comic-information{
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 45vh;
        z-index: 1;
        padding: 25px;
        h1 {
            font-size: 60px;
        }
        .comic-information-sx {
            padding-right: 1.3rem;
            p {
                font-size: 20px;
            }
            .barra {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                background-color: #55ba59;
                .barra-sx {
                    padding: 10px;
                    color: #b6fa96;
                    span {
                        color: white;
                    }
                }
            }
        }
        .comic-information-dx {
            h4{
                margin-left: 158px;
                padding-bottom: 0.2rem;
                color: gray;
            }
        }
    }
    .comic-description-bg{
        background-color: rgb(164, 150, 150);
    .comic-description{
        display: flex;
        height: 30vh;
        width: 70%;
        padding: 30px;
        margin: auto;
        h3 {
            font-size: 33px;
            padding-bottom: 20px;
            border-bottom: 2px solid gainsboro;
        }
        .comic-description-sx {
            width: 50%;
            .prova {
                display: flex;
                border-bottom: 2px solid gainsboro;
                padding: 10px 0;
                p {
                    margin: 0 30px;
                }
            }
        }
        .comic-description-dx {
            width: 50%;
            margin-left: 30px;
            .prova {
                display: flex;
                flex-wrap: wrap;
                padding: 10px 0;
                border-bottom: 2px solid gainsboro;
            }
        }
    }
    }
}