.container-jumbo {
    background-image: url(/images/jumbotron.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
}

.list-comics {
    background-color: rgb(33, 31, 31);
    .container-comics {
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
      // border: 2px solid blue;  
    h5 {
        color: white;
        padding: 0.1em;
        width: 80%;
    }
    .comic {
        width: calc(100% / 6);
        padding: 2rem 0.5rem;
        cursor: pointer;
    }
    }
}

.container-shop {
    background-color: rgb(25, 109, 236);
    color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
        display: flex;
    }
    li {
        list-style-type: none;
        margin: 0 15px;
    }
    img {
        width: 60px;
        height: 60px;
    }
    .cont {
        display: flex;
        align-items: center; 
        p {
        font-size: 20px;
        margin: 0 10px;
        }
    }
}